{% extends "bootstrap/base.html" %}

{% block title %}PicLabel{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand">Piclabel</a>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="container">

    {% for name,pathlist in nameToPicpath.items() %}

    <div class="mysequence" style="margin-bottom:20px;">
        <div class="pics" style="margin-bottom:20px;">
            {% for path in pathlist %}
            <img class="img-rounded" src="{{ url_for("static", filename=path) }}">
            {% endfor %}
        </div>
        <h4>Current name is {{ name }}</h4>
        <form action="" method="get">
            <div class="row ">
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="input-group">
                        <input name={{ name }} value=""  type="text" class="form-control"
                               placeholder="Please submit your name...">
                        <span class="input-group-btn">
                    <button type="submit" class="btn btn-default" type="button">Submit</button>
                </span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="input-group">
                        <input name="{{ name }}-delete" value="delete"  type="text" 
                            class="form-control"
                            placeholder="Please submit your name...">
                        <span class="input-group-btn">
                    <button type="submit" class="btn btn-default" type="button">Delete</button>
                </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <hr style="height:1px;border:none;border-top:1px solid #555555;" />
    {% endfor %}


    </div>
{% endblock %}
